<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.analyse.analysestock.analysis.mapper.BacktestDailySummaryMapper">

    <insert id="insertBatch">
        INSERT INTO backtest_daily_summary (
            task_id, trade_date, next_trade_date, top_k, cost_bps,
            selected_count, avg_gross_return_bps, avg_cost_bps,
            avg_net_return_bps, win_flag,
            best_stock_code, best_stock_return_bps,
            worst_stock_code, worst_stock_return_bps,
            created_at
        ) VALUES
        <foreach collection="list" item="item" separator=",">
            (
                #{item.taskId}, #{item.tradeDate}, #{item.nextTradeDate}, #{item.topK}, #{item.costBps},
                #{item.selectedCount}, #{item.avgGrossReturnBps}, #{item.avgCostBps},
                #{item.avgNetReturnBps}, #{item.winFlag},
                #{item.bestStockCode}, #{item.bestStockReturnBps},
                #{item.worstStockCode}, #{item.worstStockReturnBps},
                #{item.createdAt}
            )
        </foreach>
    </insert>

</mapper>
