<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.analyse.analysestock.analysis.mapper.StockTailTradeSnapshotV3Mapper">

    <insert id="insertBatch">
        INSERT INTO stock_tail_trade_snapshot_v3 (
            stock_code, trade_date,
            price_1400, price_1430, high_before_1430, low_before_1430,
            tail_amount_1400_1430, tail_volume_1400_1430,
            amount_before_1430, volume_before_1430,
            low_1435_1444, low_1445_1454, low_1455_1500,
            close_price, close_amount,
            high_0930_0935, high_0936_0940, high_0941_0944,
            price_0945, vwap_0930_0945,
            sell_amount_0930_0945, sell_volume_0930_0945,
            valid_flag, invalid_reason, created_at, updated_at
        ) VALUES
        <foreach collection="list" item="item" separator=",">
            (
                #{item.stockCode}, #{item.tradeDate},
                #{item.price1400}, #{item.price1430}, #{item.highBefore1430}, #{item.lowBefore1430},
                #{item.tailAmount14001430}, #{item.tailVolume14001430},
                #{item.amountBefore1430}, #{item.volumeBefore1430},
                #{item.low14351444}, #{item.low14451454}, #{item.low14551500},
                #{item.closePrice}, #{item.closeAmount},
                #{item.high09300935}, #{item.high09360940}, #{item.high09410944},
                #{item.price0945}, #{item.vwap09300945},
                #{item.sellAmount09300945}, #{item.sellVolume09300945},
                #{item.validFlag}, #{item.invalidReason}, #{item.createdAt}, #{item.updatedAt}
            )
        </foreach>
        ON DUPLICATE KEY UPDATE
            price_1400 = VALUES(price_1400), price_1430 = VALUES(price_1430),
            high_before_1430 = VALUES(high_before_1430), low_before_1430 = VALUES(low_before_1430),
            tail_amount_1400_1430 = VALUES(tail_amount_1400_1430), tail_volume_1400_1430 = VALUES(tail_volume_1400_1430),
            amount_before_1430 = VALUES(amount_before_1430), volume_before_1430 = VALUES(volume_before_1430),
            low_1435_1444 = VALUES(low_1435_1444), low_1445_1454 = VALUES(low_1445_1454), low_1455_1500 = VALUES(low_1455_1500),
            close_price = VALUES(close_price), close_amount = VALUES(close_amount),
            high_0930_0935 = VALUES(high_0930_0935), high_0936_0940 = VALUES(high_0936_0940),
            high_0941_0944 = VALUES(high_0941_0944), price_0945 = VALUES(price_0945),
            vwap_0930_0945 = VALUES(vwap_0930_0945),
            sell_amount_0930_0945 = VALUES(sell_amount_0930_0945), sell_volume_0930_0945 = VALUES(sell_volume_0930_0945),
            valid_flag = VALUES(valid_flag), invalid_reason = VALUES(invalid_reason),
            updated_at = VALUES(updated_at)
    </insert>

</mapper>
