<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.analyse.analysestock.analysis.mapper.StockIntradayExecutionSnapshotMapper">

    <insert id="insertBatch">
        INSERT INTO stock_intraday_execution_snapshot (
            stock_code, trade_date, price_1430,
            low_1435_1444, low_1445_1454, low_1455_1500,
            high_0930_0935, high_0936_0940, high_0941_0944,
            price_0945, valid_flag, invalid_reason, created_at, updated_at
        ) VALUES
        <foreach collection="list" item="item" separator=",">
            (
                #{item.stockCode}, #{item.tradeDate}, #{item.price1430},
                #{item.low14351444}, #{item.low14451454}, #{item.low14551500},
                #{item.high09300935}, #{item.high09360940}, #{item.high09410944},
                #{item.price0945}, #{item.validFlag}, #{item.invalidReason}, #{item.createdAt}, #{item.updatedAt}
            )
        </foreach>
    </insert>

</mapper>
