<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.analyse.analysestock.analysis.mapper.StockDataDailyAllMapper">
    <insert id="bulkInsert">
        INSERT INTO stock_data_daily_all (
            stock_code,
            trade_date,
            open,
            highest,
            lowest,
            close,
            close_foread,
            close_backad,
            amount,
            close_previous,
            volume
        )
        VALUES
        <foreach collection="stockDataDailies" item="item" separator=",">
            (
                #{item.stockCode},
                #{item.tradeDate},
                #{item.open},
                #{item.highest},
                #{item.lowest},
                #{item.close},
                #{item.closeForead},
                #{item.closeBackad},
                #{item.amount},
                #{item.closePrevious},
                #{item.volume}
            )
        </foreach>
    </insert>
    <delete id="deleteByStockCodeAndTradeDate">
        DELETE
        FROM stock_data_daily_all
        WHERE stock_code = #{stockCode}
        <if test="tradeDate != null">
            AND trade_date = #{tradeDate}
        </if>
    </delete>
    <select id="findByStockCodeAndLtTradeDate"
            resultType="org.analyse.analysestock.analysis.entity.StockDataDailyAll">
        select * from stock_data_daily_all where stock_code=#{stockCode} and trade_date&lt;=#{holdingDate} order by trade_date desc limit 1;
    </select>
</mapper>
